*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    // font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F5F5F5;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F5F5F5;
}